$theme-font-path: '../fonts';

@mixin theme-font($type) {
    @font-face {
        font-family: 'CenturyGothic';
        src: url('#{$theme-font-path}/CenturyGothic.ttf');
    }
    @font-face {
        font-family: 'CenturyGothicBold';
        src: url('#{$theme-font-path}/CenturyGothicBold.ttf');
    }
    @font-face {
        font-family: 'HelveticaOblique';
        src: url('#{$theme-font-path}/Helvetica-Oblique.ttf');
    }
    @font-face {
        font-family: 'HelveticaBlod';
        src: url('#{$theme-font-path}/Helvetica-Bold.ttf');
    }
    @font-face {
        font-family: 'courierBold';
        src: url('#{$theme-font-path}/courier-bold.ttf');
    }
    @font-face {
        font-family: 'Helvetica';
        src: url('#{$theme-font-path}/Helvetica.ttf');
    }
    @font-face {
        font-family: 'helvetica-light';
        src: url('#{$theme-font-path}/helvetica-light.ttf');
    }
}

@mixin theme-font-pair($type) {
    @include theme-font('#{$type}');
}

@include theme-font-pair('Regular');
